* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* -------------General----------- */

/* --------------sec1------------- */

.P_S {
  font-size: 2.7vw;
}

.img_S {
  height: auto;
  width: 100%;
}

.btn_S {
  font-size: 4vw;
}

.btm_Img_S {
  width: 6vw;
}
.imgWebDev2 {
  display: none;
}

/* --------------sec2------------- */
.Sec2_S_img_S {
  width: 3.5vw;
}

.Sec2_P_S_2 {
  font-size: 2vw;
  margin-top: 3vw;
}

.Sec2_Ul_S {
  font-size: 2vw;
}
.imgSec2Marketing {
  width: 37vw;
}

/* --------------sec3------------- */

.Sec3_P_S {
  font-size: 2vw;
}

.Sec3_Ul_S {
  font-size: 2.4vw;
}

.Sec3_S_img_S {
  width: 3vw;
}

/* --------------sec4------------- */

.P_S4 {
  font-size: 2.7vw;
}

.Sec4_Ul_S {
  font-size: 2.4vw;
}

.Sec4_S_img_S {
  width: 3vw;
}

@media (max-width: 576px) {
  /* --------------sec1------------- */
  .H_S {
    font-size: 10vw;
  }

  .P_S {
    font-size: 4.5vw;
  }

  .btn_S {
    font-size: 4.4vw;
  }

  .btm_Img_S {
    width: 8vw;
  }

  /* --------------sec2------------- */
  .Sec2_S_img_S {
    width: 8vw;
  }

  .Sec2_H_S {
    font-size: 10vw;
  }

  .Sec2_H_S_2 {
    font-size: 8vw;
  }

  .Sec2_P_S_2 {
    font-size: 6vw;
  }

  .Sec2_Ul_S {
    font-size: 4.5vw;
  }

  /* --------------sec3------------- */
  .H_S3 {
    font-size: 11vw;
    text-align: center;
  }

  .Sec3_Ul_S {
    font-size: 2.4vw;
  }

  .Sec3_S_img_S {
    width: 3vw;
  }
}
.Sec3_S_img_Marketing {
  width: 27vw;
  height: 20vw;
}
.sec3Desimg {
  font-size: 2vw;
  margin-top: 2vw;
}

/* servies_1 */
.btnCustom {
  background-color: #0f0f0f;
  color: #fff;
  border-radius: 1.5vw;
  padding: 0.6vw 1vw;
  margin-right: 1vw;
  width: 30vw;
  text-decoration: none;
  display: inline-block;
  font-size: 2.7vw;
  text-align: center;
  color: silver;
}

.btnCustom:hover {
  transform: translateY(-1vw) scale(1.05) rotate(-2deg);
  box-shadow: 0 0.5vw 2vw rgba(0, 0, 0, 0.15);
  background: linear-gradient(90deg, #0f0f0f 60%, #444 100%);
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    box-shadow 0.3s, background 0.6s;
}
.btnWeb {
  width: 48vw;
  height: auto;
}
.paragraphWeb {
  position: relative;
  top: 2vw;
}
.titleWeb {
  font-family: "Times New Roman", Times, serif;
  font-size: 5vw;
  font-weight: bold;
}
.codeImage {
  position: relative;
  top: -10vw;
}
.lineWeb {
  position: relative;
  top: -8vw;
}
.sectionTwo {
  position: relative;
  top: -10vw;
}
.sectionThree {
  position: relative;
  top: -13vw;
}
.sectionThreehead {
  margin-bottom: 7vw;
}
.SectionThreeDes {
  margin-top: 2vw;
  font-family: "Times New Roman", Times, serif;
}
.sectionFour {
  position: relative;
  top: -10vw;
}
.ulSectionFour {
  position: relative !important;
  top: 0.6vw !important;
  display: inline;
}
.sectionFourList {
  position: relative;
  top: 5.6vw;
}

/* responsive Web */
@media (max-width: 1100px) {
  .codeImage {
    top: -1.7vw;
  }
  .paragraphWeb {
    font-size: 3.2vw;
  }
  .btnWeb {
    position: relative;
    top: 5vw;
  }
  .lineWeb {
    top: 2vw;
  }
  .sectionTwo {
    position: relative;
    top: 0vw;
  }
  .sectionTwocol {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sectionTwoSub {
    width: 100%;
  }
  .Sec2_H_S,
  .sectionThreehead {
    display: block;
    align-items: center;
  }
  .Sec2_P_S_2 {
    font-size: 3.2vw;
  }
  .Sec2_Ul_S {
    font-size: 2.5vw;
  }
  .Sec2_S_img_S {
    width: 4vw;
  }
  .imgSec2Web {
    position: relative;
    left: 45vw;
    width: 45vw;
  }
  .sectionTwo2 {
    position: relative;
    top: -40vw;
  }
  .sectionThreeHalfLine {
    position: relative;
    top: -18vw;
  }
  .sectionThree {
    top: -40vw;
  }
  .sectionFourParts {
    flex-direction: column;
    align-items: center;
  }
  .sectionFourWebImg {
    width: 35vw;
    position: relative;
    left: -8vw;
  }
  .SectionThreeDes {
    font-size: 4vw;
    width: max-content;
    position: relative;
    left: -18.4vw;
    margin-bottom: 10vw;
  }
  .SectionThreeDesMarketing {
    left: 1vw;
  }
  .mtMarketing {
    margin-top: 17vw;
  }
  .imgSec2Marketing {
    top: 12vw;
    position: relative;
    right: -45vw;
  }
  .sectionFour {
    top: -35vw;
  }
  .sectionFourcol {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sectionFourHeader {
    width: max-content;
    position: relative;
    left: -12vw;
  }
  .sectionFourParagraph {
    font-size: 3.2vw;
    width: 90vw;
    position: relative;
    left: -21vw;
  }
  .sectionFourList {
    width: max-content;
    position: relative;
    left: -22vw;
  }
  .Sec3_S_img_S {
    width: 5vw;
    margin-right: 1vw;
  }
  .ulSectionFour {
    font-size: 3.2vw;
  }
  .mtSec2_boardGamePage {
    margin-top: 18vw;
  }
  .imgSec2BoardG {
    top: 14vw;
    left: 40vw;
  }
}
@media (max-width: 900px) {
  .SectionOneTitle {
    margin-bottom: -6vw;
  }
  .firstSectionSecoundHalf {
    margin-bottom: -5vw;
  }
  .sectionTwo {
    margin-top: -13vw;
    margin-bottom: -12vw;
  }
  .sectionThree {
    margin-top: 2vw;
    margin-bottom: -25vw;
  }
}
@media (max-width: 766px) {
  .imgWebDev2 {
    display: block;
    width: 60vw;
    position: relative;
    left: 4vw;
  }
  .img_S_SectionOne {
    display: none;
  }
  .imgSec2Web {
    margin-top: -56vw;
  }
  .paragraphWeb {
    position: relative;
    left: 10vw;
  }
  .imgSec2Marketing {
    margin-top: -74vw;
  }
  .SectionOneTitle {
    margin-bottom: -12vw !important;
  }
  .btnWeb {
    font-size: 4.8vw;
    width: 100%;
    position: relative;
    left: 4vw;
  }
  .buttonLogo {
    width: 9vw;
  }
  .sectionTwo2 {
    margin-top: 49vw;
  }
  .sectionFourParagraph {
    position: relative;
    left: -24vw;
    margin-top: 10vw;
  }
  .mtSec2_boardGamePage {
    margin-top: 0vw;
  }
  @media (max-width: 450px) {
    .paragraphWeb {
      position: relative;
      left: 5vw;
    }
  }
  @media (max-width: 689px) {
    .imgSec2Web,
    .imgSec2Marketing {
      display: none;
    }
  }
  @media (max-width: 575px) {
    .sectionFourHeadBoardG {
      margin-top: 13vw;
    }
  }
  @media (max-width: 402px) {
    .paragraphWeb {
      position: relative;
      left: 2vw;
    }
    .sectionFourParagraph {
      position: relative;
      left: -25vw;
    }
  }
  @media (max-width: 376px) {
    .sectionFourParagraph {
      position: relative;
      left: -27vw;
    }
    .imgWebDev2,
    .btnWeb {
      left: -2vw;
    }
    .sectionFourWebImg {
      left: -12vw;
    }
    .sectionFourParts {
      position: relative;
      left: 1vw;
    }
    .SectionThreeDes {
      left: -23vw;
    }
    .ulSectionFour {
      width: max-content;
    }
  }
}
@media (max-width: 346px) {
  .SectionOneTitle,
  .Sec2_H_S,
  .Sec2_H_S_2,
  .sectionThreehead {
    font-size: 7vw !important;
  }
  .sectionFourHeader {
    font-size: 7vw !important;
    position: relative;
    left: -18vw;
  }
}
/* board game design page adjustments */
