body {
  background: #e0dcd5 !important;
}

.accordion_button,
.collapsed {
  font-family: "Times New Roman", Times, serif;
  font-weight: 0 !important;
  font-size: 2.825vw !important;
  color: black !important;
  font-style: italic !important;
  box-shadow: none !important;
  border: none !important;
  border-bottom: #000000 solid 0.5px !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 0 !important;
  background-color: #e0dcd5 !important;
}
.accordion {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

.accordion_body {
  border-top: black 0.5px !important;
  font-family: Inter, sans-serif !important;
  background-color: #e0dcd5;
}
.accordion_item {
  border: none !important;
}
.accordion_body,
.accordion_button,
.collapsed .accordion_item {
  width: 55.98vw !important;
}
.accordion_button::after {
  filter: brightness(0) saturate(100%) !important;
}
.list {
  display: flex !important;
  flex-direction: column !important;
  gap: 1rem !important;
}
.accordion_button:focus {
  background-color: #e0dcd5 !important;
}
:global(.accordion-button:not(.collapsed)) {
  background-color: #e0dcd5 !important;
}
.image {
  max-height: 40vw !important;
  object-fit: contain !important;
}
:global(.About_Container) {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: space-around !important;
  gap: 4rem !important;
  margin-top: 5vw !important;
  margin-bottom: 5vw !important;
}

@media (max-width: 1060px) {
  :global(.About_Container) {
    display: flex !important;
    flex-direction: column-reverse !important;
    justify-content: space-around !important;
    align-items: center !important;
    margin: 3rem !important;
    gap: 0.5rem !important;
  }
  .image {
    max-height: 50vw !important;
    width: 100% !important;
    object-fit: contain !important;
  }
}
@media (max-width: 1158px) {
  .accordion_button,
  .collapsed {
    font-size: 3.5vw !important;
  }
}
@media (max-width: 822px) {
  .accordion_button,
  .collapsed {
    font-size: 5vw !important;
  }
}
@media (max-width: 540px) {
  .accordion_button,
  .collapsed {
    font-size: 8vw !important;
  }
  .accordion_body {
    font-size: 4vw !important;
  }
}
@media (max-width: 340px) {
  .accordion_button,
  .collapsed {
    font-size: 11vw !important;
  }
}
@media (max-width: 650px) {
  .image {
    max-height: 85vw !important;
  }
}
@media (max-width: 420px) {
  .image {
    max-height: 85vw !important;
  }
  .accordion_button,
  .collapsed {
    font-size: 9vw !important;
  }
}
